*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/thesunnahrevival/sunnahassistant/ApiKey.java
/app/google-services.json
/.idea/
/app/src/main/java/com/thesunnahrevival/sunnahassistant/ApiKey.kt
/common/src/main/java/com/thesunnahrevival/common/ApiKey.kt
/common/schemas/com.thesunnahrevival.common.data.local.SunnahAssistantDatabase/5.json
/foss/build/generated/data_binding_trigger/devDebug/com/thesunnahrevival/sunnahassistant/DataBindingTriggerClass.java
/foss/build/generated/source/buildConfig/dev/debug/com/thesunnahrevival/sunnahassistant/BuildConfig.java
/foss/build/generated/third_party_licenses/devDebug/res/raw/third_party_license_metadata
/foss/build/generated/third_party_licenses/devDebug/res/raw/third_party_licenses
/foss/build/generated/third_party_licenses/devDebug/dependencies.json
/foss/build/intermediates/annotation_processor_list/devDebug/annotationProcessors.json
/foss/build/intermediates/app_metadata/devDebug/app-metadata.properties
/foss/build/intermediates/assets/devDebug/mergeDevDebugAssets/policy.html
/foss/build/intermediates/compatible_screen_manifest/devDebug/output-metadata.json
/foss/build/intermediates/compressed_assets/devDebug/out/assets/policy.html.jar
/foss/build/intermediates/data_binding_base_class_logs_dependency_artifacts/devDebug/androidx.databinding.library.baseAdapters-binding_classes.json
/foss/build/intermediates/data_binding_base_class_logs_dependency_artifacts/devDebug/com.thesunnahrevival.common-binding_classes.json
/foss/build/intermediates/data_binding_dependency_artifacts/devDebug/androidx.databinding.library.baseAdapters-br.bin
/foss/build/intermediates/data_binding_dependency_artifacts/devDebug/androidx.databinding.library.baseAdapters-setter_store.json
/foss/build/intermediates/data_binding_dependency_artifacts/devDebug/com.thesunnahrevival.common-br.bin
/foss/build/intermediates/data_binding_dependency_artifacts/devDebug/com.thesunnahrevival.common-setter_store.json
/foss/build/intermediates/dex/devDebug/mergeExtDexDevDebug/classes.dex
/foss/build/intermediates/dex/devDebug/mergeExtDexDevDebug/classes2.dex
/foss/build/intermediates/incremental/mergeDevDebugAssets/merger.xml
/foss/build/intermediates/incremental/mergeDevDebugJniLibFolders/merger.xml
/foss/build/intermediates/incremental/mergeDevDebugShaders/merger.xml
/foss/build/intermediates/manifest_merge_blame_file/devDebug/manifest-merger-blame-dev-debug-report.txt
/foss/build/intermediates/merged_manifest/devDebug/AndroidManifest.xml
/foss/build/intermediates/merged_manifests/devDebug/AndroidManifest.xml
/foss/build/intermediates/merged_manifests/devDebug/output-metadata.json
/foss/build/intermediates/navigation_json/devDebug/navigation.json
/foss/build/intermediates/packaged_manifests/devDebug/AndroidManifest.xml
/foss/build/intermediates/packaged_manifests/devDebug/output-metadata.json
/foss/build/intermediates/signing_config_versions/devDebug/signing-config-versions.json
/foss/build/outputs/logs/manifest-merger-dev-debug-report.txt
/common/google-services.json
/foss/google-services.json
/proprietary/.gitignore
/proprietary/google-services.json
/foss/build/
