<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesunnahrevival.sunnahassistant">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".widgets.HijriDateWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.WelcomeActivity" />
        <activity android:name=".views.ChangelogActivity"
            android:label="@string/what_s_new"
            android:parentActivityName=".views.MainActivity"/>

        <receiver android:name=".widgets.TodayRemindersWidget" android:label="Light:- Today Reminders">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_reminders_widget_info" />
        </receiver>

        <receiver android:name=".widgets.TodaysRemindersWidgetDark" android:label="Dark:- Today Reminders">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_reminders_widget_info_dark" />
        </receiver>

        <receiver android:name=".widgets.TodaysRemindersWidgetTransparent" android:label="Transparent:- Today Reminders">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_reminders_widget_info_transparent" />
        </receiver>

        <receiver android:name=".widgets.PrayerTimesWidget" android:label="Light:- Prayer Times">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/prayer_reminders_widget_info" />
        </receiver>

        <receiver android:name=".widgets.PrayerTimesWidgetDark" android:label="Dark:- Prayer Times">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/prayer_reminders_widget_info_dark" />
        </receiver>

        <receiver android:name=".widgets.PrayerTimesWidgetTransparent" android:label="Transparent:- Prayer Times">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/prayer_reminders_widget_info_transparent" />
        </receiver>

        <receiver
            android:name=".widgets.HijriDateWidget"
            android:label="Hijri Date Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/hijri_date_widget_info" />
        </receiver>
        <receiver android:name=".utilities.ReminderBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utilities.NextReminderService"
            android:exported="false" />
        <service android:name=".widgets.TodaysRemindersRemoteViewsService"
        android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".widgets.PrayerRemindersRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>


</manifest>