<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <queries>
    <intent>
      <action android:name="android.intent.action.SENDTO" />
      <data android:scheme="*" />
    </intent>
    <intent>
      <action android:name="android.support.customtabs.action.CustomTabsService" />
    </intent>
  </queries>


  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />


  <application
      android:allowBackup="true"
      android:icon="@mipmap/logo"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/logo_round"
      android:supportsRtl="true"
      android:hasFragileUserData="true"
      android:theme="@style/AppTheme">

    <activity
        android:name="com.thesunnahrevival.sunnahassistant.widgets.HijriDateWidgetConfigureActivity"
        android:exported="false"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <activity
        android:name="com.thesunnahrevival.sunnahassistant.widgets.PrayerTimesWidgetConfigureActivity"
        android:exported="false"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <activity
        android:name="com.thesunnahrevival.sunnahassistant.widgets.TodayToDosWidgetConfigureActivity"
        android:exported="false"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <activity
        android:name="com.thesunnahrevival.sunnahassistant.views.MainActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver
        android:name="com.thesunnahrevival.sunnahassistant.widgets.TodayToDosWidget"
        android:exported="false"
        android:label="@string/today_widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/today_to_dos_widget_info" />
    </receiver>

    <receiver
        android:name="com.thesunnahrevival.sunnahassistant.widgets.PrayerTimesWidget"
        android:exported="false"
        android:label="@string/prayer_times_widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/prayer_to_dos_widget_info" />
    </receiver>

    <receiver
        android:name="com.thesunnahrevival.sunnahassistant.widgets.HijriDateWidget"
        android:exported="false"
        android:label="@string/hijri_date_widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/hijri_date_widget_info" />
    </receiver>
    <receiver
        android:name="com.thesunnahrevival.sunnahassistant.receivers.ToDoBroadcastReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.thesunnahrevival.sunnahassistant.receivers.InAppBrowserBroadcastReceiver" />

    <receiver
        android:name="com.thesunnahrevival.sunnahassistant.receivers.RequestAlarmPermissionBroadcastReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>

    <service
        android:name="com.thesunnahrevival.sunnahassistant.widgets.TodaysToDosRemoteViewsService"
        android:permission="android.permission.BIND_REMOTEVIEWS" />
    <service
        android:name="com.thesunnahrevival.sunnahassistant.widgets.PrayerToDosRemoteViewsService"
        android:permission="android.permission.BIND_REMOTEVIEWS" />

    <service
        android:name=".firebase.SAFirebaseMessagingService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

      <service
          android:name="androidx.work.impl.foreground.SystemForegroundService"
          android:foregroundServiceType="dataSync"
          tools:node="merge" />

      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_alarm" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="Developer" />

    <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-6981212130280607~6237616381" />


  </application>


</manifest>